<h3>Post a Comment</h3>

<%= form_for [ @recipe, @comment ], html: {class: "ui form"} do |f| %>
    <div class="field">
      <%= f.text_area :body, rows: 2 %>
    </div>
    <p>
      <%= f.submit 'Submit', class: "ui olive button" %>
    </p>
<% end %>
