<div class="ui menu">
  <div class="ui pointing dropdown link item">
    <span class="text">Food Preferences</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="header">Categories</div>
      <!-- <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Clothing</span>
        <div class="menu">
          <div class="header">Mens</div>
          <div class="item">Shirts</div>
          <div class="item">Pants</div>
          <div class="item">Jeans</div>
          <div class="item">Shoes</div>
          <div class="divider"></div>
          <div class="header">Womens</div>
          <div class="item">Dresses</div>
          <div class="item">Shoes</div>
          <div class="item">Bags</div>
        </div>
      </div> -->
      <div class="item">Dairy Free</div>
      <div class="item">Vegan</div>
      <div class="item">Vegetarian</div>
      <div class="item">Meat</div>
      <div class="item">Other</div>
    </div>
  </div>
</div>

<% @recipes.each do |recipe| %>
    <%= link_to recipe.name, recipe %><br>
<% end %>
