<div class="ui inverted segment">
  <div class="ui top fixed inverted menu">
    <!-- <div class="item"> -->
      <!-- <div class="ui icon input">
        <input type="text" placeholder="Find a Recipe">
        <i class="search link icon"></i>
      </div> -->
    <!-- </div> -->
    <a class="right menu item">Sign-in</a>
  </div>
</div>

<!-- <div class="ui divider"></div> -->
<div class="ui three column vertically padded grid">
  <div class="column">
    <h2 class="ui center aligned icon header">
      <i class="book icon"></i>
      <div class="content">
        Cookbook
        <div class="sub header"> <%= link_to "Add a recipe to our cookbook",  new_recipe_path, class: "new_recipe" %></div>

      </div>
    </h2>
  </div>
  <div class="column">
  <h2 class="ui center aligned icon header">
    <i class="food icon"></i>
    <div class="content">
      Recipes
      <div class="sub header">Welcome</div>
      <!-- <div class="ui right floated button">Floated</div> -->
    </div>
  </h2>
  </div>
  <div class="column">
    <h2 class="ui center aligned icon header">
      <i class="spoon icon"></i>
      <div class="content">
        Hungry?
        <div class="sub header">Find a recipe</div>
        <!-- <div class="ui right floated button">Floated</div> -->
      </div>
    </h2>
  </div>
</div>

<div id="space">

</div>










<!-- <ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe %></li>
  <% end %>
</ul> -->
