<%= render 'search' %>
<div class="ui bottom segment">
  <h3 class="title"></h3>
  <% if @recipes.present? %>
      <% @recipes.each do |recipe| %>
        <%= link_to recipe.name, recipe, class: "recipe" %><br>
      <% end %>
  <% else %>
    <p>There are no recipes found</p>
  <% end %>
</div>
