<h2><%= @recipe.name %></h2>
<%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
<%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure you eant to delete this recipe?"} %>
