<h2><%= @recipe.name %></h2>
<%= @recipe.food_preference_id %>
<%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
<%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure you want to delete this recipe?"} %>
