<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style src ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0/semantic.min.css"></style>
</head>
<body>


<div class="ui container">
  <div>


  <%= yield %>
  <% flash.each do |key, value| %>
    <div class="ui success message">
      <i class="close icon"></i>
      <div class="header">
        Your recipe has been added!
      </div>
      <p>You may now see your recipe in our cookbook</p>
    </div>
  <% end %>

</div>


</body>
</html>
